/* Resetowanie domyślnych styli */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo-centered {
    text-align: center;
}

.logo-centered img {
    width: 200px;
    height: auto;
}

.listen-on-site h2,
.listen-right h2 {
    font-size: 24px;
    color: #fff;
    background-color: #659F22;
    padding: 10px 20px;
    border-radius: 5px;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.listen-right {
    margin-left: auto;
}

/* Stylizacja przycisków akcji */
.action-button {
    background-color: #659F22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #4F7F16;
}

/* Nawigacja */
nav {
    background-color: #83a400;
    padding: 8px 0;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

nav ul li a:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    background-color: #659F22;
    transform: translateY(-2px);
}

/* Responsywność */
@media screen and (max-width: 768px) {
    .actions {
        display: none;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 8px 12px;
    }
}

@media screen and (max-width: 480px) {
    nav ul li a {
        font-size: 12px;
    }
}

.footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links .footer-link {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links .footer-link:hover {
    color: #659F22;
}

.footer-social .social-icon {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-social .social-icon:hover {
    color: #659F22;
}

.footer-info {
    margin-top: 10px;
}

.footer-text {
    font-size: 12px;
}

.news-section {
    max-width: 800px;
    margin: 20px auto 40px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Tło sekcji */
}

.news-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.news-list {
    list-style: none;
    padding: 0;
}

.news-list li {
    margin-bottom: 20px;
}

.news-list h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.news-list p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Stylizacja sekcji statystyk radiowych */
#radio-stats {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#radio-stats h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

#radio-stats ul {
    list-style-type: none;
    padding: 0;
}

#radio-stats li {
    margin-bottom: 10px;
}

#radio-stats li span {
    font-weight: bold;
}

#radio-stats li:nth-child(odd) {
    background-color: #fff;
}

.label {
    font-weight: bold;
}

li span#serverTitle,
li span#currentListeners,
li span#peakListeners,
li span#maxListeners,
li span#currentSong {
    font-weight: normal;
}


#radio-stats li:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cookie-section {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
