/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Górny pasek */
#top-bar {
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed; /* Używamy pozycji ustalonej (fixed) */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Zapewnia, że pasek będzie na wierzchu */
    transition: top 0.3s ease; /* Dodatkowa animacja */
}

#top-bar.transparent {
    background-color: rgba(255, 165, 0, 0.7); /* Przeźroczysty pomarańczowy kolor */
}

body {
    margin-top: 40px; /* Dodajemy margines na górze strony, aby treść nie była zasłaniana przez pasek */
}

/* Stylizacja przycisku odtwarzania */
#top-bar button#play {
    background-color: #659F22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#top-bar button#play:hover {
    background-color: #4F7F16;
}

/* Header */
header {
    background-color: #fff;
    padding: 10px 20px; /* Zwiększenie wewnętrznego odstępu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    margin-right: auto; /* Dodanie automatycznego marginesu po prawej stronie logo */
}

.logo img {
    width: 150px; /* Zmniejszenie szerokości logo */
    height: auto;
}

.actions {
    display: flex;
    align-items: center; /* Wyśrodkowanie przycisków akcji w pionie */
}

.actions button {
    margin-left: 10px; /* Dodanie odstępu między przyciskami */
    background-color: #659F22;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #4F7F16;
}


/* Nawigacja */
nav {
    background-color: #83a400;
    padding: 8px 0;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

nav ul li a:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    background-color: #659F22;
    transform: translateY(-2px);
}

/* Responsywność */
@media screen and (max-width: 768px) {
    .actions {
        display: none;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 8px 12px;
    }
}

@media screen and (max-width: 480px) {
    nav ul li a {
        font-size: 12px;
    }
}

.footer {
    background-color: #222; /* Zmiana koloru tła na ciemniejszy odcień */
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Dodanie wyśrodkowania ikon */
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Zwiększenie odstępu między sekcjami */
}

.footer-section:last-child {
    margin-right: 0; /* Usunięcie marginesu po prawej stronie ostatniej sekcji */
}

.footer-section h3 {
    color: #fff;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.social-icons-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px; /* Dodanie marginesu do oddzielenia od innych elementów stopki */
}

.social-icons-right .social-icon {
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.social-icons-right .social-icon:hover {
    color: #ffcc00;
}

.social-icons-right .facebook:hover {
    color: #3b5998;
}

.social-icons-right .instagram:hover {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80, #E2ED8A, #A1D0E8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons-right .discord:hover {
    color: #7289da;
}

.social-icons-right .twitter:hover {
    color: #000000; /* Zmiana koloru na czarny po najechaniu */
}

.back-to-top {
    margin-top: 40px; /* Zwiększenie marginesu na górę */
}

.back-to-top a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-top a:hover {
    background-color: #ffcc00;
}

.news-section {
    max-width: 800px;
    margin: 20px auto 40px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.news-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.news-list {
    list-style: none;
    padding: 0;
}

.news-list li {
    margin-bottom: 20px;
}

.news-list h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.news-list p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

#radio-stats {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#radio-stats h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

#radio-stats ul {
    list-style-type: none;
    padding: 0;
}

#radio-stats li {
    margin-bottom: 10px;
}

#radio-stats li span {
    font-weight: bold;
}

#radio-stats li:nth-child(odd) {
    background-color: #fff;
}

/* Stylizacja etykiet i wartości w sekcji statystyk radia */
.label {
    font-weight: bold;
}

li span#serverTitle,
li span#currentListeners,
li span#peakListeners,
li span#maxListeners,
li span#currentSong {
    color: #659F22; /* Kolor dla wartości statystyk */
}
